@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,400;1,300;1,500;1,600;1,700&display=swap');
@import './partials/variables.scss';

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: $main_font;
}

span{
    font-size: 0.85em;
    color: #c7c7c7;
}

h1,h2,h3,h4,h5,p{
    display: inline-block;
}

img.lang {
    width: 40px;
}

.fa-star {
    color: rgb(202, 172, 0);
    margin: 0 2px;
    border-radius: 20px;
    font-size: 1.5em;
}

[class*="-face"] {
    width: 94%;
    height: 94%;
    position: absolute;
    top: 3%;
    left: 3%;
}

.full-w {
    width: 100%;
    margin-top: 5px;
    text-align: center;
    color: white;
  }